terraform {
  required_providers {
    yandex = {
      source  = "yandex-cloud/yandex"
      version = "0.70.0"
    }
  }

  backend "s3" {
    endpoint   = "storage.yandexcloud.net"
    bucket     = "${bucket}"
    region     = "us-east-1"
    key        = "terraform.tfstate"
    access_key = "${key.access_key}"
    secret_key = "${key.secret_key}"

    skip_region_validation      = true
    skip_credentials_validation = true
  }
}
